################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TripleSecManaged/v15
/TripleSecManaged/obj
/Debug
/TripleSecManaged/bin/x64/Debug
/TripleSecTester/bin
/TripleSecTester/obj
/x64/Debug
